.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginInput {
  text-align: center;
  width: 100%;
  margin: 10px 10px 10px 0;
  font-size: 30px;
  background-color: #323232;
  border: 1px solid #3e3e3e;
}
.loginBlock {
  padding: 30px;
  width: 300px;
  border: 1px solid #63c;
}
.loginButton {
  margin-top: 15px;
  background-color: #63c;
  border: 1px solid #3e3e3e;
}
.loginLink {
  display: flex;
}
